The obtain the Canadian peak study temperature, run the following script. If you have not already downloaded the weather data archives from ENRC, this script may take a while to run.

In [1]:
import weather.enrc as enrc
enrc.get_minmax_data()

           min    max
location
YFC        3.3  103.2
YHZ       11.4   98.4
YOW        3.5  109.4
YQB       -0.8  115.1
YQT       -7.5  103.4
YSB       -2.7  100.9
YUL        5.2  106.7
YUY      -12.7  100.9
YYC        2.8   94.1
YYZ       13.3  117.6
YZV       -7.7   87.7

To onbtain the US peak study temperatures, run the following script after manually downloading the weather data from NOAA.

In [2]:
import weather.noaa as noaa
noaa.get_minmax_data()

           min    max
location
PDX       32.9  104.3